<div class="container my-5">
  <a href="/" class="back"><i class="fa-solid fa-circle-arrow-left"></i>Go back</a>
  <div class="row">
    <div class="col-lg-4 col-md-6 details d1">
      <img
        src="../../../assets/FlorinOmran.png"
        class="w-100"
        alt="my cv photo"
      />
      <h1>Florin OMRAN</h1>
      <h3 class="my-3">Details:</h3>
      <ul>
        <li>Address: Bucharest, Colentina</li>
        <li>Phone: 0720.172.377</li>
        <li>E-Mail: florin.omran@gmail.com</li>
        <li>Date of birth: 15-Apr-1995</li>
        <li>
          <a href="https://www.linkedin.com/in/florinomran/">
            <i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="https://github.com/florinomran"
            ><i class="fa-brands fa-github"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 details d2">
      <h3 class="my-3">Education:</h3>
      <h5>I am constantly studying and learning new things</h5>
      <h4>Computer Science</h4>
      <ul class="education">
        <li class="place">at Wellcode</li>
        <li>
          I’ve learned basics of C++, solved over 150 algorithmic problems and
          studied object-oriented programming in JavaScript.
        </li>
        <li class="period">January 2021 – July 2021</li>
      </ul>
      <h4>Computer Science: HTML, CSS, JavaScript, ReactJS – basis</h4>
      <ul class="education">
        <li class="place">at CodeBerry Programming School</li>
        <li class="period">August 2021 – December 2021</li>
      </ul>
      <h4>Bachelor of Science Degree in Communication and Public Relations</h4>
      <ul class="education">
        <li class="place">at Titu Maiorescu University</li>
        <li class="period">2016 – 2020</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 details d3">
      <h3 class="my-3">Work Experience:</h3>
      <h4>Analyst Consulting EMEA Business Transactions</h4>
      <ul class="work">
        <li class="place">at ORACLE</li>
        <li>
          I’ve learned basics of C++, solved over 150 algorithmic problems and
          studied object-oriented programming in JavaScript.
        </li>
        <li class="period">May 2019 – Present</li>
      </ul>
      <h4>Customer Service Agent</h4>
      <ul class="work">
        <li class="place">at CGS (Computer Generated Solutions)</li>
        <li class="period">March 2018 – February 2019</li>
      </ul>
      <h4>Event Planner</h4>
      <ul class="work">
        <li class="place">at The Romanian Association for Smart City</li>
        <li class="period">July 2017 – February 2018</li>
      </ul>
    </div>
  </div>
</div>
